@charset "UTF-8";

body{
  font-family: 'Lato';
}

h1,h2{
  font-family: 'Raleway';
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

/*header*/
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
}

.header-inner {
  display: flex;
  padding: 15px 0;
}

.fa-bolt{
  font-size: 30px;
  color: #4e4e4e;
}

.header-but{
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  margin-left: auto;
}

.header-but:hover{
  color: #333;
  transition: 0.3s;
}

/*main div(theme)*/
.main{
  padding-top: 70px;
  background-color: #f2f2f2;
}

.top-title{
  padding: 250px 0;
  text-align: center;
}

.top-title h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.top-title p{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.sp{
  display: none;
}

/*main section (what we can do)*/
.section{
  background-color: #74cfae;
}

.what-inner{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 50px;
}

.what-inner img{
  margin: 0 auto;
}

.what-text{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.what-text h2{
  font-size: 24px;
}

.what-text p{
  font-size: 20px;
  margin-top: 35px;
  align-items: center;
  line-height: 30px;
}

.what-table{
  text-align: justify;
  text-align-last: center;
}

/* main article (our latest work) */
.article{
  background-color: #f2f2f2;
}

.work-inner{
  text-align: center;
  padding: 60px 0 70px;
}

.work-inner h2{
  font-size: 24px;
}

.work-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.work-img{
  opacity: 0.7;
  transition: 0.3s;
  margin-top: 80px;
  margin-left: 100px;
}

.work-img:nth-child(3n+1){
  margin-left: 0;
}

.work-img:nth-child(-n+3){
  margin-top: 0;
}

.work-img:hover{
  opacity: 1;
  transition: 0.3s;
}

.work-text{
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.work-text p{
  width: 42%;
  text-align: center;
  line-height: 20px;
}

.work-email{
  height: 12px;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.work-email:hover{
  color: #333;
  transition: 0.3s;
}

/*main section (our skills)*/
.our-section{
  background-color: #4e4e4e;
}

.skills-inner{
  color: #fff;
  text-align: center;
  padding: 70px 0 100px;
}

.skills-inner h2{
  font-size: 24px;
}

.skills-img{
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.skills-img li{
  margin: 0px 90px;
}

.skills-img li p{
  font-size: 16px;
  margin-top: 20px;
}

/*main nav(sns)*/
.nav{
  background-color: #f2f2f2;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 200px 0;
  color: #74cfae;
  font-size: 30px;
}

.nav-link {
  width: 185px;
  text-align: center;
  size: 50px;
  transition: 0.3s;
  text-decoration: none;
}

.nav-link a{
  display: block;
  padding: 30px 0;
}

.nav-link:hover{
  background-color: #fff;
  transition: 0.3s;
}

.nav-link i{
  color: #74cfae;
}

/*footer*/
.footer{
  background-color: #74cfae;
}

.footer-inner{
  padding: 20px 0px 25px;
  color: #fff;
  text-align: right;
}

@media screen and (min-width:1200px) {
}

@media screen and (max-width:1199px) {
  .inner{
    width: 97%;
}

  .what-inner{
    padding-bottom: 25px;
  }

  .what-text{
    width: 83%;
  }

  .what-text h2{
    margin-top: 20px;
  }

  .work-img{
    width: 100%;
    margin-left: 0;
  }

  .work-img img{
    vertical-align: top;
  }

  .work-img:nth-child(n+4) {
    margin-top: 0;
  }
  .work-img:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-img:first-child {
    margin-top: 0;
  }

  .work-list{
    flex-wrap: wrap;
  }

  .work-text{
    display: block;
    margin-top: 80px;
  }

  .work-text p{
    width: 100%;
    margin-bottom: 40px;
  }

  .work-email{
    margin-left: 0;
  }

  .skills-img{
    display: block;
  }

  .skills-img li{
    margin-top: 88px;
  }

  .skills-img li:first-child{
    margin-top: 0;
  }

@media screen and (max-width:767px) {
  .fa-bolt{
    font-size: 50px;
    margin: 10px;
  }

  .header-but{
    display: none;
  }

  .ham{
    width: 30px;
    height: 25px;
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: auto;
  }

  .ham-line{
    width: 57%;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .ham-line:nth-last-of-type(1) {
    top: 30px;
  }

  .ham-line:nth-last-of-type(2) {
    top: 22px;
  }

  .ham-line:nth-last-of-type(3) {
    top: 14px;
  }

  .sp{
    display: block;
  }

  .top-title{
    padding: 160px 0 130px;
    width: 89vw;
  }

  .top-title h1{
    font-size: 80px;
  }
  
  .top-title p{
    margin-top: 20px;
    font-size: 30px;
  }

  .what-table{
    word-spacing: -0.1em;
  }

  .work-img img{
    width: 85vw;
  }

  .work-text p{
    width: 90%;
    margin: 0 auto 60px;
    letter-spacing: 0.1em;
    overflow-wrap: break-word;
    text-align: justify;
    text-align-last: center;
  }

  .work-email{
    font-size: large;
    width: 100%;
  }

  .nav-list{
    display: block;
    padding: 50px 0;
    width: 100%;
  }
  
  .nav-link{
    width: 100%;
  }

  .nav-link a{
    display: block;
  }

  .nav-link i{
    font-size: 50px;
  }

  .footer-inner p{
    padding: 10px;
    justify-content: center;
  }

}